
* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.heading h1 {
  text-align: center;
}

.heading p {
  text-align: center;
}

.boxs h2 {
  text-align: center;
}

.box-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 33%;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
}